fastapi==0.110.0
uvicorn==0.27.1
streamlit==1.32.2
pandas==2.2.1
plotly==5.20.0
openai>=1.30.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.28
python-dotenv==1.0.1
pydantic>=2.7.4
langchain>=0.1.0
langchain-openai>=0.1.0


